@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-10">
        <div class="alert alert-success" role="alert">
            Liabrary
        </div>
        <div class="row g-4">
            <div class="col-auto">
                <label class="form-label">ISBN</label>
                <input class="form-control" type="text" id="isbnSearch" placeholder="">
            </div>
            <div class="col-auto">
                <label class="form-label">Book Name</label>
                <input class="form-control" type="text" id="nameSearch" placeholder="">
            </div>
            <div class="col-auto">
                <label class="form-label">Authou Name</label>
            <input class="form-control" type="text" id="authorSearch" placeholder="">
            </div>
            <button type="button" class="btn btn-secondary col-auto align-self-lg-end" id="search">Search</button>
        </div>
        <table class="table table-striped" id="booksTable"><thead>
            <tr>
                <th>Book</th>
                <th>ISBN</th>
                <th>Author</th>
            </tr>
        </thead><tbody></tbody></table>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">User Name</label>
                    <input class="form-control" type="text" id="name" placeholder="ex : John Dicaperio">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-body">
    </div>
</div>

@section Scripts{
    <script src="~/js/Index.js"></script>
}
